@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

 /*font-family: 'Public Sans', sans-serif */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    padding: 12px 65px;
    margin: 20px 20px 20px 20px;
    font-size: 18px;
    font-family: 'Public Sans' sans-serif;
    height: 1440px;
    
}


header{

    display: flex;
    justify-content: space-between;
    color: white;
    background-color:  hsl(0, 0%, 100%);

}

#logo{
    width: 130px;
    height: 30px;
   

}

nav a{
    padding: 12px;
    background: inherit;
    text-decoration: none;
    color: black;

}

.btn{

     padding: 22px 27px;
     font-size: 14px;
     font-weight: 100;
     border-radius: 33px;
     height: 13px;
     width: 180px;
     cursor: pointer;
     margin-bottom: 23px;
     line-height: 1.5px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));       
     color:hsl(0, 0%, 100%) ;
     border: none;
}


.conteudo_primario {
    background-color: Very Light Gray: hsl(0, 0%, 98%);
    display: flex;
  
   
}


.conteudo_segundario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    padding-right: 84px;
  
    
    


}

.titulo_primario{
    
font-size: 72px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 70px;
  color: hsl(233, 26%, 24%);
   
    

}

.texto_secundario{
    font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 100px;
  color: hsl(233, 8%, 62%);
    
}



.img{
    background-image:url(/Landing-page---Easybank/images/bg-intro-desktop.svg);
    align-self: flex-start;
    background-position: top;

}